<app-clothes-management></app-clothes-management>

<!-- <form #articleForm="ngForm" [article]="articleSelected" *ngIf="articleSelected" (submit)="modifyArticle()" -->
<form #articleForm="ngForm" (submit)="modifyArticle()" novalidate>
  <div class="container well">
    <div class="form-horizontal">
      <div class="row">
        <div class="col-xs-12">
          <h2>Modify Article</h2>
        </div>
      </div>
      <br />
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12" align="center">
            <h3>Article data</h3>
          </div>
        </div>

        <label class="col-sm-2 control-label" for="clothesType">Article Type</label>
        <div class="col-sm-2">
          <select class="form-control custom-select" id="type" name="type" #type="ngModel" [(ngModel)]="article.type"
            required>
            <option *ngFor="let type of types" [value]="type">{{ type.type }}</option>
          </select>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="formGroup"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-warning" [disabled]="articleForm.invalid">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
