<div>
  <div>
    <table class="table table-bordered">
      <tr>
        <td>Filter by price:</td>
        <td><input type="range" min="0" max="100" name="priceFilter" [(ngModel)]="priceFilter"
            (change)="filter()">{{ priceFilter }}</td>
      </tr>
      <tr>
        <td>Filter by colour:</td>
        <td>
          <select name="colourFilter" #colour="ngModel" [(ngModel)]="colourFilter" (change)="filter()">
            <option *ngFor="let colour of colours" [value]="colour">{{ colour }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Items per page:</td>
        <td>
          <input type="number" name="itemsPerPage" [(ngModel)]="itemsPerPage">
        </td>
      </tr>
      <tr>
        <td>Number of articles:</td>
        <td>{{ articlesFiltered.length }}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="articlesFiltered.length == 0">
    <h2>No articles found</h2>
  </div>
  <div *ngIf="articlesFiltered.length > 0">
    <form>
      <h2>Articles found:</h2>
      <pagination-controls (pageChange)="currentPage=$event" max-size="5" directionLinks="true" autoHide="true">
      </pagination-controls>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Article type</th>
            <th scope="col">Colour</th>
            <th scope="col">Expedition date</th>
            <th scope="col">Price</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <tr scope="row"
            *ngFor="let article of articlesFiltered | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}; let i = index"
            (click)="onSelect(article)">
            <td>
              {{ article.clothesType.type }}
              <!-- <select class="form-control custom-select" id="type" name="type" #type="ngModel" [(ngModel)]="article.type"
                required>
                <option *ngFor="let type of types" [value]="type">{{ type.type }}</option>
              </select> -->
            </td>
            <td>{{ article.colour }}</td>
            <td>{{ article.expeditionDate }}</td>
            <td>{{ article.price | currency: 'EUR' }}</td>
            <td><button class="btn btn-warning" (click)="onModify(article)">Modify</button></td>
            <td><button class="btn btn-danger" (click)="onDelete(article)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="currentPage=$event" max-size="5" directionLinks="true" autoHide="true">
      </pagination-controls>
    </form>
  </div>
</div>
