<div>
  <div>
    <table class="table table-bordered">
      <tr>
        <td>Filter by price:</td>
        <td><input type="range" min="0" max="100"/> -- {{priceFilter}}</td>
      </tr>
      <tr>
        <td>Filter by colour:</td>
        <td>
          <select></select>  
        </td>
      </tr>
      <tr>
        <td>Items per page: </td>
        <td>
          <input type="text">
        </td>
      </tr>
   
      <tr>
        <td>Number of articles:</td>
        <td></td>
      </tr>
    </table>
  </div>
  <div>
    <h2>No articles found</h2>
  </div>
  <div>
    <form>
      <h2>Articles found:</h2>
      <table class="table table-bordered">
        <tr><td><b>Article type</b></td>
            <td><b>Colour</b></td>
            <td><b>Expedition date</b></td>
            <td><b>Price</b></td>
            <td><b>Eliminate</b></td>
            <td><b>Go to detail</b></td>
        </tr>
    </table>
  
 
</form>
</div>
</div>


